@import 'common/reset';
@import 'common/mixin';
@import 'common/common';

body {
    @include log-bg;
}

.app {
    position: relative;
}

.m-login {
    padding-top: 20vw;
    .u-avatar {
        width: 24vw;
        height: 24vw;
        background: rgba(255, 255, 255, .2);
        border-radius: 50%;
        margin: 0 auto;
    }
    .u-title {
        font-size: 2.2rem;
        color: #fff;
        text-align: center;
        padding: 5vw 0 3vw;
    }
    .u-login {
        width: 65vw;
        margin: 0 auto;
        input[type="text"], input[type="password"]{
            border-radius: 0;
            display: block;
            border: none;
            outline: none;
            background: none;
            color: #fff;
            margin: 0 auto;
            font-size: 1.4rem;
            border-bottom: 1px solid rgba(255, 255, 255, .4);
            height: 10vw;
            width: 63vw;
            padding: 3vw 1vw 1vw;
        }
        button {
            display: block;
            margin: 15vw auto 0;
            outline: none;
            border: none;
            background: rgba(30, 130, 208, .8);
            height: 10vw;
            color: #fff;
            border-radius: 10vw;
            width: 100%;
            letter-spacing: 5vw;
            text-indent: 5vw;
            font-size: 1.4rem;
        }
        ::-webkit-input-placeholder {
            color: #fff;
        }
    }
}

.m-links {
    position: absolute;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 2vw 0;
    .u-link {
        width: 35vw;
        text-align: center;
        line-height: 12vw;
        color: #fff;
        font-size: 1.4rem;
    }
}